<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>duration过渡时间</title>
</head>

<body>
  <div id="app">
    <!-- duration设置组件显性的过渡持续时间 -->
    <transition :duration="{ enter: 1000, leave: 1000}">
      <h3 class="component-a" v-if="show">Hello Vue</h3>
    </transition>
    
    <transition :duration="{ enter: 2000, leave: 2000}">
      <h3 class="component-b" v-if="show">Hello JSX</h3>
    </transition>
    <button type="button" @click="isShow">过渡</button>
  </div>
  <script src="../vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: function () {
        return {
          show: true
        }
      },
      methods: {
        isShow() {
          this.show = !this.show
        }
      }
    })
  </script>
</body>

</html>