<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model使用</title>
</head>

<body>
  <div id="app">
     <!-- v-model用于表单与数据双向绑定 -->
     <input type="text" v-model="inputValue" value="Hello Vue">
     <h3>{{inputValue}}</h3>
     <!-- v-model会忽略所有变表单的属性初始值，会用Vue实例数据作为属性值 -->
     <textarea name="" v-model="textareValue" value="Hello Vue"></textarea>
     <h3>{{textareValue}}</h3>
  </div>
  <script src="../vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: function() {
        return {
          inputValue: '文本框双向绑定',
          textareValue: '文本域双向绑定'
        }
      }
    })
  </script>
</body>

</html>